<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BlogModel" connectionString="metadata=res://*/BlogModel.csdl|res://*/BlogModel.ssdl|res://*/BlogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VISTA1\SQLEXPRESS;Initial Catalog=mojodev;Persist Security Info=True;User ID=Admin;Password=sql$q1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="mojoEntities" connectionString="metadata=res://*/mojoEntityModel.csdl|res://*/mojoEntityModel.ssdl|res://*/mojoEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VISTA1\SQLEXPRESS;Initial Catalog=mojodev;Persist Security Info=True;User ID=Admin;Password=sql$q1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>