<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings file="user.config">
    
  </appSettings>
  
    <system.web>

      <httpRuntime maxRequestLength="2097151" executionTimeout="3600" />
      
      <compilation debug="true" targetFramework="4.0" />

      <pages>
        <controls>
          <add namespace="PrototypeWeb.Controls" assembly="PrototypeWeb" tagPrefix="portal" />
          <add tagPrefix="mp" namespace="mojoPortal.Web.Controls" assembly="mojoPortal.Web.Controls" />
        </controls>
      </pages>
      
    </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="262144000" />
      </requestFiltering>
      <!-- maxAllowedContentLength is in bytes. Defaults to 30,000,000 -->
    </security>

  </system.webServer>

</configuration>
